<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

<!--        <activity-alias-->
<!--            android:name=".MainActivityOriginal"-->
<!--            android:icon="@mipmap/ic_launcher_original"-->
<!--            android:label="@string/app_name"-->
<!--            android:roundIcon="@mipmap/ic_launcher_round_original"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

<!--        <activity-alias-->
<!--            android:name=".MainActivityInverted"-->
<!--            android:icon="@mipmap/ic_launcher_inverted"-->
<!--            android:label="@string/app_name"-->
<!--            android:roundIcon="@mipmap/ic_launcher_round_inverted"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

<!--        <activity-alias-->
<!--            android:name=".MainActivityBlueberry"-->
<!--            android:icon="@mipmap/ic_launcher_blueberry"-->
<!--            android:label="@string/app_name"-->
<!--            android:roundIcon="@mipmap/ic_launcher_round_blueberry"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

    </application>
</manifest>